* {
    padding:0;
    margin:0;
}



main {
    width: 55vw;
    margin: 0 auto;
    margin-top: 15vh;
    border:dashed 1px black;
}

button {
    border-radius: 50%;
    height: 8vh;
    background-color: darkred;
}

